<script type="text/javascript">
    RED.nodes.registerType('debounce', {
        category: 'function',
        color: "#D8BFD8",
        defaults: {
        time: { value: 1000, required: true, validate: RED.validators.number() },
            name: { value: "" }
        },
        inputs: 1,
        outputs: 2,
        outputLabels: [ "Accepted", "Debounced" ],
        icon: "timer.png",
        label: function() {
            return this.name || "debounce";
        }
    });
</script>

<script type="text/x-red" data-template-name="debounce">
    <div class="form-row">
      <label for="node-input-time"><i class="fa fa-wrench"></i> Time (ms)</label>
      <input type="text" id="node-input-time" placeholder="Time">
    </div>
    <div class="form-row">
      <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
       <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>

<script type="text/x-red" data-help-name="debounce">
    <p>Debounces subsequent messages within a timespan.</p>
    
     <h3>Inputs</h3>
        The input to be forwarded.   

     <h3>Outputs</h3>
         <ol class="node-ports">
             <li>Accepted
                 <dl class="message-properties">
                     <dd>msg will be forwarded to this port if debounce doens't filter</dd>
                 </dl>
             </li>
             <li>Standard error
                 <dl class="message-properties">
                     <dd>msg will be forwarded to thios port if the msg is debounced</dd>
                 </dl>
             </li>
         </ol>
</script>
